<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzm_BwoaBGBkBEJNtEiQxPOWfX15r_F1I</string>
	<key>GCM_SENDER_ID</key>
	<string>149350324741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tubitak.readswap</string>
	<key>PROJECT_ID</key>
	<string>readswap37</string>
	<key>STORAGE_BUCKET</key>
	<string>readswap37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149350324741:ios:147bfd7c4045cfdf2e5a6c</string>
</dict>
</plist>